{% extends "administrador/base_administrador.html" %}

{% block title %}Editar Oficina{% endblock title %}
{% block content %}
    <div id="wrapper">

        {% include "administrador/control/navbar.html" %}

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Cabecera -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                            <strong>Editando Oficina de: {{ oficina.nombre }}</strong>
                        </h2>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'administrador_app:p_inicio'%}">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> <strong>{{ oficina.nombre }}
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <a href="{% url 'administrador_app:p_oficina' %}" class="btn btn-success">
                        <span class="glyphicon glyphicon-chevron-left"></span> Atrás
                    </a>
                    <form role="form" action="{% url 'administrador_app:o_editar' oficina.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <p class="lead"><span class="glyphicon glyphicon-info-sign"></span> Actualice los  los datos de la Oficina.</p>

                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.errors }}
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label>{{ form.nombre.label_tag }}</label>
                            {{ form.nombre }}
                        </div>
                        <div class="checkbox">
                            <label>
                                {{ form.estado_oficina }} {{ form.estado_oficina.label_tag }}
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label>{{ form.usuario.label_tag }}</label>
                            {{ form.usuario }}
                        </div>                
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Actualizar Oficina</button>                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
{% endblock content %}