{% extends "visitantes/base_visitantes.html" %}

{% block title %}Sistema de Registro y Control de visitas - SIRECOVI{% endblock title %}
{% block content %}

    <div id="wrapper">

       {% include "visitantes/control/navbar.html" %}

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Cabecera principal -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Incio <small>SIRECOVI</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Inicio
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        CUERPO INDEX
                        <br>
                        CUERPO INDEX
                        <br>
                        CUERPO INDEX
                    </div>    
                </div>
    
            </div>
    
        </div>
    </div>
{% endblock content %}