{% extends "administrador/base_administrador.html" %}

{% block title %}Oficinas{% endblock title %}
{% block content %}
    <div id="wrapper">

        {% include "administrador/control/navbar.html" %}

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Cabecera -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Oficinas
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'administrador_app:p_inicio'%}">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Oficinas
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                    <a class="btn btn-primary pull-right" href="{% url 'administrador_app:po_nuevo' %}">
                        <span class="glyphicon glyphicon-plus"></span> Crear una Oficina
                    </a>
                    <h2>Mostrando Oficinas</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Nombre Oficina</th>
                                    <th>Estado Oficina</th>
                                    <th>Usuario de Oficina</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for oficinas in oficinas %}
                                <tr>
                                    <td>{{oficinas.nombre}}</td>
                                    <td>{{oficinas.estado_oficina}}</td>
                                    <td>{{oficinas.usuario}}</td>
                                <td class="text-center">
                                    <a href="{% url 'administrador_app:o_editar' oficinas.id %}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </a>
                                    <a href="{% url 'administrador_app:o_eliminar' oficinas.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock content %}