{% extends "administrador/base_administrador.html" %}

{% block title %}Oficinas{% endblock title %}
{% block content %}
    <div id="wrapper">

        {% include "administrador/control/navbar.html" %}

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Cabecera -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Oficinas
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Oficinas
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                <p>Cuerpo Oficinas</p>
                </div>

            </div>

        </div>
    </div>
{% endblock content %}