{% extends "recepcion/base_recepcion.html" %}

{% block title %}Visitantes{% endblock title %}
    
{% block content %}
        
    <div id="wrapper">
    
        {% include "recepcion/control/navbar.html" %}

        <div id="page-wrapper">

            <div class="container-fluid">
                <!-- Cabecera principal -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Visitantes
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'recepcion_app:p_visitante'%}">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Visitantes
                            </li>
                        </ol>
                    </div>
                </div>
                
                <div class="row">
                    <!-- Formulario de busqueda -->
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Buscar por DNI y Nombres">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Buscar</button>
                          </span>
                        </div><!-- /input-group -->
                        <br>
                        <a class="btn btn-primary pull-left" href="{% url 'recepcion_app:r_nuevo' %}">
                            <span class="glyphicon glyphicon-plus"></span> Agregar un Visitante
                        </a> 
                      </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->           
                    
                    <div class="col-lg-12">
                        <h2>Mostrando visitantes</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Dni</th>
                                        <th>Nombre</th>
                                        <th>Apellidos</th>
                                        <th>Fecha de Visita</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for visitantes in vo_visitantes %}
                                    <tr>
                                        <td>{{visitantes.dni}}</td>
                                        <td>{{visitantes.nombres}}</td>
                                        <td>{{visitantes.apellidos}}</td>
                                        <td>{{visitantes.fecha_registro}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
{% endblock content %}