{% extends "recepcion/base_recepcion.html" %}

{% block title %}Visitantes{% endblock title %}
    
{% block content %}
        
    <div id="wrapper">
    
        {% include "recepcion/control/navbar.html" %}

        <div id="page-wrapper">

            <div class="container-fluid">
                <!-- Cabecera principal -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                            Registro de Visitantes
                        </h2>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'recepcion_app:p_visitante'%}">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Visitantes
                            </li>
                        </ol>
                    </div>
                </div>
                
                <div class="row">
                    <!-- Formulario de busqueda -->
                    <div class="row">
                      <div class="col-lg-12">
                        <a class="btn btn-primary pull-left" href="{% url 'recepcion_app:r_nuevo' %}">
                            <span class="glyphicon glyphicon-plus"></span> Agregar un Visitante
                        </a> 
                      </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->           
                    
                    <div class="col-lg-12">
                        <h3>    
                        <strong>Tienes <span class="label label-warning">{{ cantidad }}</span> Visitas</strong>
                        </h3>

                        <div class="table-responsive">
                        {% if vo_visitantes %}
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Dni</th>
                                        <th>Apellidos y Nombres</th>
                                        <th>Fecha de Visita</th>
                                        <th>Oficina</th>
                                        <th>Estado de atencion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for visitantes in vo_visitantes %}
                                    <tr>
                                        <td>{{visitantes.visitante.dni}}</td>
                                        <td>{{visitantes.visitante.apellidos|upper}}, {{visitantes.visitante.nombres}}</td>
                                        <td>{{visitantes.fecha_visita}}</td>
                                        <td>{{visitantes.oficina.nombre}}</td>
                                        <td>
                                        {% if visitantes.estado_atencion %}
                                            <span class="label label-success">Atendido</span>
                                        {% else %}
                                            <span class="label label-default">No atendido</span>
                                        {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>Actualmente no hay visitantes...!</p> 
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
{% endblock content %}